
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}

<table style="margin-top:3%; margin-left:25%">
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Address</th>
        <th>State</th>
        <th>City</th>
        <th>Pin</th>
        <th>Status</th>
    </tr>
    @foreach(var a in ViewBag.ps)
    {
<tr>
    <td>@a.Property_Type</td>
    <td>@a.Property_Name</td>
    <td>@a.Property_Address</td>
    <td>@a.Property_State</td>
    <td>@a.Property_City</td>
    <td>@a.Property_Pin</td>
    <td>@a.Property_Status</td>
    <td><button class="btn"><i class="fa fa-edit"></i>@Html.ActionLink("Edit", "Edit", new { id = a.Property_ID })</button></td>
</tr>
    }
</table>

