@model House_Rental_System.Models.Property_Details
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div>
    <h4>Property_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Property_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property_Pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property_Pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller_Details.Seller_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller_Details.Seller_Name)
        </dd>
        @{
            var imgs = Model.Property_Images;
            if (imgs.Count > 0)
            {
                foreach (var image in imgs)
                {

                    var base64 = Convert.ToBase64String(image.Image);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="@imgsrc">
                            </div>
                        </div>
                    </div>


                }
            }
        }
        <button class="btn"><i class="fa fa-edit" style="color:cornflowerblue"></i>@Html.ActionLink("Request", "PropertyRequest", new { Pid = Model.Property_ID, Sid = Model.Seller_Id })</button>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
