@model IEnumerable<House_Rental_System.Models.Property_Details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<head>
    <link href="~/assets/form/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
</head>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-sm-4">
                <div class="card">
                    @{
                        var images = item.Property_Images;
                        if (images.Count > 0)
                        {
                                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel";">
                                            <div class="carousel-inner">
                                                @{int i = 0;}
                                                @foreach (var image in images)
                                                {
                                                    i++;
                                                    var active = i == 1 ? "active" : "";
                                                    var base64 = Convert.ToBase64String(image.Image);
                                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                    <div class="carousel-item @active">
                                                        <img class="d-block w-100" src="@imgsrc" alt="First slide" style="border-radius: 5px;">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                        }

                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Property_Name</h5>
                        <p class="card-text zmdi zmdi-pin">  <b>Address</b>  @item.Property_Address (@item.Property_Pin)</p>
                        <p class="card-text fa fa-bed">  <b>BHK</b>  @item.Property_Information.BHK</p><br />
                        <p class="card-text fa fa-rupee">  <b>Deposit</b>  @item.Property_Information.Expected_Deposit</p><br />
                        <p class="card-text fa fa-rupee">  <b>Rent</b>  @item.Property_Information.ExpectedRent</p><br />
                        <a href="~/Customer/Details/@item.Property_ID" class="btn fa fa-envelope" style="background-color: rgba(0, 171, 159, 0.73);color:white;">  Details</a>

                    </div>
                </div>
            </div>


        }
    </div>
</div>