
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<table style="margin-top:3%; margin-left:25%">
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Address</th>
        <th>State</th>
        <th>City</th>
        <th>Pin</th>
        <th>Status</th>
    </tr>
    @foreach (var a in ViewBag.Propertydetails)
    {
<tr>
    <td>@a.Property_Type</td>
    <td>@a.Property_Name</td>
    <td>@a.Property_Address</td>
    <td>@a.Property_State</td>
    <td>@a.Property_City</td>
    <td>@a.Property_Pin</td>
    <td>@a.Property_Status</td>
    <td><button class="btn"><i class="fa fa-edit" style="color:cornflowerblue"></i>@Html.ActionLink("Details", "Details", new { id = a.Property_ID })</button></td>
</tr>
    }
</table>