@model IEnumerable<House_Rental_System.Models.Sold_Property>

@{
    ViewBag.Title = "RentedProperties";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>RentedProperties</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Deposit_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rental_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_of_Sale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property_Details.Property_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller_Details.Seller_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Deposit_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rental_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_of_Sale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property_Details.Property_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seller_Details.Seller_Name)
        </td>
    </tr>
}

</table>
